.DS_Store

# Individual modpack items
crash-reports/
fancymenu_data/
local/
logs/
modernfix/
patchouli_books/
XaeroWaypoints_BACKUP*/
usernamecache.json
usercache.json
servers.dat
servers.dat_old
options.txt
screenshots/
xaero/
schematics/
saves/
config/rare-ice.properties
config/oculus.properties
config/libraryferret_1.properties
config/everycomp-hazardous.properties
rhino.local.properties
minecraftinstance.json
config/defaultworldtype/world-presets.txt
config/betterfpsdist.json
config/xaerominimap_entities.json
config/voicechat/username-cache.json
config/sound_physics_remastered/reflectivity.properties
config/sound_physics_remastered/occlusion.properties
minecraftinstance.json
